Repository GreptimeTeam/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: greptimedb-cluster, greptimedb-operator, greptimedb-standalone, greptimedb-enterprise-dashboard, greptimedb-remote-compaction

fix: revert format
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

fix: update version
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-standalone/Chart.yaml
Labels: greptimedb-cluster, greptimedb-standalone

fix: docs
  charts/greptimedb-cluster/README.md
  charts/greptimedb-standalone/README.md
Labels: greptimedb-cluster, greptimedb-standalone

feat: add a config to use ee auth (#400)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/tests/cluster-test.yaml
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/templates/statefulset.yaml
  charts/greptimedb-standalone/tests/statefulset-test.yaml
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

chore: Update GreptimeDB version to v1.0.1
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

chore: Update GreptimeDB version to v1.0.1 (#401)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

chore: update greptimedb-operator version to v0.5.5
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

chore: update greptimedb-operator version to v0.5.5 (#402)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

Update index.yaml
  index.yaml
Labels: none

chore: cancel setting the default datasource
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

chore: cancel setting the default datasource (#403)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

chore: change license mount path
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

chore: change license mount path (#404)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

chore: add for monitoring standalone storage
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

chore: add for monitoring standalone storage (#405)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

refactor: delete precheck job
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/scripts/pre-check/disk.sh
  charts/greptimedb-cluster/scripts/pre-check/kafka.sh
  charts/greptimedb-cluster/scripts/pre-check/s3.sh
  charts/greptimedb-cluster/templates/pre-check/configmap.yaml
  charts/greptimedb-cluster/templates/pre-check/job.yaml
  charts/greptimedb-cluster/templates/pre-check/pvc.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

refactor: delete precheck job (#406)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/scripts/pre-check/disk.sh
  charts/greptimedb-cluster/scripts/pre-check/kafka.sh
  charts/greptimedb-cluster/scripts/pre-check/s3.sh
  charts/greptimedb-cluster/templates/pre-check/configmap.yaml
  charts/greptimedb-cluster/templates/pre-check/job.yaml
  charts/greptimedb-cluster/templates/pre-check/pvc.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

chore: update operator version v0.5.6
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/templates/crds/crd-greptimedbcluster.yaml
  charts/greptimedb-operator/templates/crds/crd-greptimedbstandalone.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

update docs
  charts/greptimedb-cluster/README.md
  charts/greptimedb-operator/README.md
Labels: greptimedb-cluster, greptimedb-operator

chore: update operator version v0.5.6 (#407)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/crds/crd-greptimedbcluster.yaml
  charts/greptimedb-operator/templates/crds/crd-greptimedbstandalone.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

Update index.yaml
  index.yaml
Labels: none

fix: fix tracing description
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

fix: fix tracing description (#408)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

ci: update Grafana dashboard from upstream
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/dashboards/greptimedb-cluster-metrics.json
Labels: greptimedb-cluster

chore: Update GreptimeDB version to v1.0.2
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

ci: update Grafana dashboard from upstream
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/dashboards/greptimedb-cluster-metrics.json
Labels: greptimedb-cluster

chore: Update GreptimeDB version to v1.0.2 (#410)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

update version
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
Labels: greptimedb-cluster

update version
  charts/greptimedb-cluster/Chart.yaml
Labels: greptimedb-cluster

update version
  charts/greptimedb-cluster/README.md
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

.github/labeler.yaml:

greptimedb-cluster:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-cluster/**

greptimedb-operator:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-operator/**

greptimedb-standalone:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-standalone/**

greptimedb-enterprise-dashboard:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-enterprise-dashboard/**

greptimedb-remote-compaction:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-remote-compaction/**
