Repository GreptimeTeam/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: greptimedb-cluster, greptimedb-operator, greptimedb-standalone, greptimedb-enterprise-dashboard, greptimedb-remote-compaction

.github/labeler.yaml:

greptimedb-cluster:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-cluster/**

greptimedb-operator:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-operator/**

greptimedb-standalone:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-standalone/**

greptimedb-enterprise-dashboard:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-enterprise-dashboard/**

greptimedb-remote-compaction:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-remote-compaction/**

Update index.yaml
  index.yaml
Labels: none

refactor: push helm charts to dockerhub oci registry
  .github/workflows/release.yaml
Labels: none

fix: incorrect operator tag and github release error (#358)
  .github/workflows/release.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator

chore: Update GreptimeDB version to v0.17.2
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

chore: Update GreptimeDB version to v0.17.2 (#359)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

ci: update Grafana dashboard from upstream
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/dashboards/greptimedb-cluster-metrics.json
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

chore: bump operator version to v0.5.1
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

update crd
  charts/greptimedb-operator/templates/crds/crd-greptimedbcluster.yaml
  charts/greptimedb-operator/templates/crds/crd-greptimedbstandalone.yaml
Labels: greptimedb-operator

chore: bump operator version to v0.5.1 (#361)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/crds/crd-greptimedbcluster.yaml
  charts/greptimedb-operator/templates/crds/crd-greptimedbstandalone.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

Update index.yaml
  index.yaml
Labels: none

fix: container resource outofsync
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

fix: container resource outofsync (#362)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

fix(standalone): adding empty dir volume if pvc is disabled
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/templates/statefulset.yaml
Labels: greptimedb-standalone

fix(standalone): adding empty dir volume if pvc is disabled (#363)
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/templates/statefulset.yaml
Labels: greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

update readme
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Revert "update readme"
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

update readme
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

chore: update greptimedb-operator version to v0.5.2
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/README.md.gotmpl
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

update readme
  README.md
Labels: none

chore: update greptimedb-operator version to v0.5.2 (#365)
  README.md
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/README.md.gotmpl
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

Update index.yaml
  index.yaml
Labels: none

chore: update greptimedb-operator version to v0.5.2 (#365)
  README.md
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/README.md.gotmpl
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/crds/crd-greptimedbcluster.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

Also bump chart version
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

chore/bump-operator-version: Add enableObjectStorage option to frontend in greptimedb-cluster Helm chart
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

chore/bump-operator-version: Update greptimedb-initializer image tag to v0.5.3 in values.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

chore/bump-operator-version: Bump GreptimeDB cluster Helm chart version to 0.6.40 in Chart.yaml and README.md
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

chore: bump operator version (#366)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/crds/crd-greptimedbcluster.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

chore: Update GreptimeDB version to v1.0.0-beta.1
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

chore: Update GreptimeDB version to v1.0.0-beta.1 (#367)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

refactor: remove deprecated etcd backend fields
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
  scripts/e2e/greptimedb-cluster.sh
Labels: greptimedb-cluster

update docs
  charts/greptimedb-cluster/README.md
Labels: greptimedb-cluster

refactor!: remove deprecated etcd backend fields (#368)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
  scripts/e2e/greptimedb-cluster.sh
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none
