Repository GreptimeTeam/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: greptimedb-cluster, greptimedb-operator, greptimedb-standalone, greptimedb-enterprise-dashboard, greptimedb-remote-compaction

.github/labeler.yaml:

greptimedb-cluster:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-cluster/**

greptimedb-operator:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-operator/**

greptimedb-standalone:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-standalone/**

greptimedb-enterprise-dashboard:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-enterprise-dashboard/**

greptimedb-remote-compaction:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-remote-compaction/**

Update index.yaml
  index.yaml
Labels: none

feat: add operator annotations and labels
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/deployment.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator

feat: add operator annotations and labels (#381)
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/deployment.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator

Update index.yaml
  index.yaml
Labels: none

feat: add greptimedb cluster annotations
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

feat: add greptimedb cluster annotations (#382)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

fix: incorrect volume format
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
Labels: greptimedb-cluster

fix: incorrect volume format (#383)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

ci: update Grafana dashboard from upstream
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/dashboards/greptimedb-cluster-metrics.json
Labels: greptimedb-cluster

ci: update Grafana dashboard from upstream
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/dashboards/greptimedb-cluster-metrics.json
Labels: greptimedb-cluster

ci: update Grafana dashboard from upstream
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/dashboards/greptimedb-cluster-metrics.json
Labels: greptimedb-cluster

ci: update Grafana dashboard from upstream
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/dashboards/greptimedb-cluster-metrics.json
Labels: greptimedb-cluster

ci: update Grafana dashboard from upstream
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/dashboards/greptimedb-cluster-metrics.json
Labels: greptimedb-cluster

ci: update Grafana dashboard from upstream
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/dashboards/greptimedb-cluster-metrics.json
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

chore: update reviewer
  scripts/update/update-grafana-dashboard.sh
Labels: none

chore: update reviewer (#390)
  scripts/update/update-grafana-dashboard.sh
Labels: none

chore: bump greptimedb-operator to v0.5.4
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/crds/crd-greptimedbcluster.yaml
  charts/greptimedb-operator/templates/deployment.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

chore: bump greptimedb-operator to v0.5.4 (#391)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/crds/crd-greptimedbcluster.yaml
  charts/greptimedb-operator/templates/deployment.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

Update index.yaml
  index.yaml
Labels: none

Create README.md
  README.md
Labels: none

Create README.md (#392)
  README.md
Labels: none

fix: miss namespace
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/templates/service.yaml
Labels: greptimedb-standalone

add service test
  charts/greptimedb-standalone/tests/service-test.yaml
Labels: greptimedb-standalone

fix(greptimedb-standalone): miss service namespace (#394)
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/templates/service.yaml
  charts/greptimedb-standalone/tests/service-test.yaml
Labels: greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

chore: Update GreptimeDB version to v1.0.0-rc.1
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

chore: Update GreptimeDB version to v1.0.0-rc.1 (#395)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

chore: Update GreptimeDB version to v1.0.0-rc.1
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
Labels: greptimedb-cluster, greptimedb-standalone

chore: Update GreptimeDB version to v1.0.0-rc.2
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

chore: Update GreptimeDB version to v1.0.0-rc.2 (#397)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

chore: release greptimedb version v1.0.0
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

chore: release greptimedb version v1.0.0 (#399)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

feat: add a config to use ee auth
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/tests/cluster-test.yaml
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/templates/statefulset.yaml
  charts/greptimedb-standalone/tests/statefulset-test.yaml
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

fix: docs
  charts/greptimedb-cluster/README.md
  charts/greptimedb-standalone/README.md
Labels: greptimedb-cluster, greptimedb-standalone
