Repository GreptimeTeam/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: greptimedb-cluster, greptimedb-operator, greptimedb-standalone, greptimedb-enterprise-dashboard, greptimedb-remote-compaction

.github/labeler.yaml:

greptimedb-cluster:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-cluster/**

greptimedb-operator:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-operator/**

greptimedb-standalone:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-standalone/**

greptimedb-enterprise-dashboard:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-enterprise-dashboard/**

greptimedb-remote-compaction:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-remote-compaction/**

feat: add new feature for greptimedb-operator v0.4.2 to greptimedb-cluster chart
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/dashboards/greptimedb-cluster-traces.json
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

feat: add new feature for greptimedb-operator v0.4.2 to greptimedb-cluster chart (#335)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/dashboards/greptimedb-cluster-traces.json
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

ci: add release notes when a new version of the public chart is released
  .github/workflows/release.yaml
Labels: none

feat(greptimedb-cluster): add internal configuration
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

feat(greptimedb-cluster): add internal configuration (#337)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

ci: add release notes when a new version of the public chart is released (#336)
  .github/workflows/release.yaml
Labels: none

refactor: use secret to store credentials of object storage
  charts/greptimedb-remote-compaction/Chart.yaml
  charts/greptimedb-remote-compaction/README.md
  charts/greptimedb-remote-compaction/templates/compactor/configmap.yaml
  charts/greptimedb-remote-compaction/templates/compactor/deployment.yaml
  charts/greptimedb-remote-compaction/templates/compactor/secret.yaml
  charts/greptimedb-remote-compaction/values.yaml
Labels: greptimedb-remote-compaction

refactor: add temp-data volume for compactor
  charts/greptimedb-remote-compaction/README.md
  charts/greptimedb-remote-compaction/templates/compactor/configmap.yaml
  charts/greptimedb-remote-compaction/templates/compactor/deployment.yaml
  charts/greptimedb-remote-compaction/values.yaml
Labels: greptimedb-remote-compaction

fix: ci error
  charts/greptimedb-remote-compaction/values.yaml
Labels: greptimedb-remote-compaction

chore: Update GreptimeDB version to v0.12.2
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

chore: update bitnami config
  README.md
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/README.md.gotmpl
  scripts/e2e/greptimedb-cluster.sh
Labels: greptimedb-cluster

chore: update bitnami config (#340)
  README.md
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/README.md.gotmpl
  scripts/e2e/greptimedb-cluster.sh
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

chore: disable read cache
  charts/greptimedb-remote-compaction/templates/compactor/configmap.yaml
  charts/greptimedb-remote-compaction/values.yaml
Labels: greptimedb-remote-compaction

refactor: use secret to store credentials of object storage (#338)
  charts/greptimedb-remote-compaction/Chart.yaml
  charts/greptimedb-remote-compaction/README.md
  charts/greptimedb-remote-compaction/templates/compactor/configmap.yaml
  charts/greptimedb-remote-compaction/templates/compactor/deployment.yaml
  charts/greptimedb-remote-compaction/templates/compactor/secret.yaml
  charts/greptimedb-remote-compaction/values.yaml
Labels: greptimedb-remote-compaction

Update index.yaml
  index.yaml
Labels: none

chore: bump greptimedb-remote-compaction chart to v0.1.1
  charts/greptimedb-cluster/Chart.lock
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

chore: bump greptimedb-remote-compaction chart to v0.1.1 (#341)
  charts/greptimedb-cluster/Chart.lock
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

chore: rename secretAccessKey -> accessKeySecret in AliCloud objectstorage note
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-standalone

update docs
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
Labels: greptimedb-standalone

change accessKeySecret note
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

chore: rename secretAccessKey -> accessKeySecret in objectstorage note (#342)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

chore: use greptime dockerhub image
  README.md
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/README.md.gotmpl
  scripts/e2e/greptimedb-cluster.sh
Labels: greptimedb-cluster

chore: use greptime dockerhub image (#343)
  README.md
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/README.md.gotmpl
  scripts/e2e/greptimedb-cluster.sh
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

ci: update Grafana dashboard from upstream
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/dashboards/greptimedb-cluster-metrics.json
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

fix: release charts to acr
  charts/greptimedb-cluster/Chart.lock
  charts/greptimedb-cluster/Chart.yaml
Labels: greptimedb-cluster

update chart version
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
Labels: greptimedb-cluster

update docs
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
Labels: greptimedb-cluster

update dependency
  charts/greptimedb-cluster/Chart.lock
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
Labels: greptimedb-cluster

fix: release charts to acr (#345)
  charts/greptimedb-cluster/Chart.lock
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

chore: Update GreptimeDB version to v0.17.0
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

ci: update kubernetes version to v1.32.0
  .github/workflows/ci.yaml
Labels: none

chore: Update GreptimeDB version to v0.17.0 (#347)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone
