Repository GreptimeTeam/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: greptimedb-cluster, greptimedb-operator, greptimedb-standalone, greptimedb-enterprise-dashboard, greptimedb-remote-compaction

test: update docs
  charts/greptimedb-cluster/README.md
  charts/greptimedb-standalone/README.md
Labels: greptimedb-cluster, greptimedb-standalone

test: add more tests and update ci
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  README.md
  charts/greptimedb-cluster/tests/cluster_test.yaml
  charts/greptimedb-cluster/tests/license-secret_test.yaml
  charts/greptimedb-cluster/tests/object-storage-secret_test.yaml
  charts/greptimedb-standalone/tests/secret_test.yaml
  charts/greptimedb-standalone/tests/statefulset_test.yaml
Labels: greptimedb-cluster, greptimedb-standalone

test: add more tests and update ci
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  README.md
  charts/greptimedb-cluster/tests/cluster_test.yaml
  charts/greptimedb-cluster/tests/license-secret_test.yaml
  charts/greptimedb-cluster/tests/object-storage-secret_test.yaml
  charts/greptimedb-standalone/tests/secret_test.yaml
  charts/greptimedb-standalone/tests/statefulset_test.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Rename cluster_test.yaml to cluster-test.yaml
  charts/greptimedb-cluster/tests/cluster-test.yaml
Labels: greptimedb-cluster

Rename license-secret_test.yaml to license-secret-test.yaml
  charts/greptimedb-cluster/tests/license-secret-test.yaml
Labels: greptimedb-cluster

Rename object-storage-secret_test.yaml to object-storage-secret-test.yaml
  charts/greptimedb-cluster/tests/object-storage-secret-test.yaml
Labels: greptimedb-cluster

Rename users-auth-secret_test.yaml to users-auth-secret-test.yaml
  charts/greptimedb-cluster/tests/users-auth-secret-test.yaml
Labels: greptimedb-cluster

Rename secret_test.yaml to secret-test.yaml
  charts/greptimedb-standalone/tests/secret-test.yaml
Labels: greptimedb-standalone

Rename statefulset_test.yaml to statefulset-test.yaml
  charts/greptimedb-standalone/tests/statefulset-test.yaml
Labels: greptimedb-standalone

Rename users-auth-secret_test.yaml to users-auth-secret-test.yaml
  charts/greptimedb-standalone/tests/users-auth-secret-test.yaml
Labels: greptimedb-standalone

feat: permission support for auth users (#371)
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  README.md
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/users-auth-secret.yaml
  charts/greptimedb-cluster/tests/cluster-test.yaml
  charts/greptimedb-cluster/tests/license-secret-test.yaml
  charts/greptimedb-cluster/tests/object-storage-secret-test.yaml
  charts/greptimedb-cluster/tests/users-auth-secret-test.yaml
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/templates/users-auth-secret.yaml
  charts/greptimedb-standalone/tests/secret-test.yaml
  charts/greptimedb-standalone/tests/statefulset-test.yaml
  charts/greptimedb-standalone/tests/users-auth-secret-test.yaml
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

chore: add more auth values
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

chore: add more auth values (#373)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

chore: Update GreptimeDB version to v1.0.0-beta.2
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

chore: Update GreptimeDB version to v1.0.0-beta.2 (#374)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

chore: can set more etcd endpoint addresses
  README.md
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

fix e2e
  scripts/e2e/greptimedb-cluster.sh
Labels: none

fix e2e
  scripts/e2e/greptimedb-cluster.sh
Labels: none

update readme etcd endpoint
  charts/greptimedb-cluster/README.md
Labels: greptimedb-cluster

update docs
  charts/greptimedb-cluster/README.md.gotmpl
Labels: greptimedb-cluster

chore: can set more etcd endpoint addresses (#375)
  README.md
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/README.md.gotmpl
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
  scripts/e2e/greptimedb-cluster.sh
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

chore: Update GreptimeDB version to v1.0.0-beta.3
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

chore: Update GreptimeDB version to v1.0.0-beta.3 (#376)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

chore: Update GreptimeDB version to v1.0.0-beta.3
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
Labels: greptimedb-cluster, greptimedb-standalone

chore: Update GreptimeDB version to v1.0.0-beta.4
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

chore: Update GreptimeDB version to v1.0.0-beta.4 (#378)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

feat: add greptimedb-operator env and envFrom configuration
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/deployment.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator

update note
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator

feat: add greptimedb-operator env and envFrom configuration (#379)
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/deployment.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator

Update index.yaml
  index.yaml
Labels: none

refactor: update greptimedb-operator chart deployment template
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/deployment.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator

update annotations
  charts/greptimedb-operator/templates/deployment.yaml
Labels: greptimedb-operator

update resource
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator

refactor: update greptimedb-operator chart deployment template (#380)
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/deployment.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator

.github/labeler.yaml:

greptimedb-cluster:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-cluster/**

greptimedb-operator:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-operator/**

greptimedb-standalone:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-standalone/**

greptimedb-enterprise-dashboard:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-enterprise-dashboard/**

greptimedb-remote-compaction:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-remote-compaction/**
