Repository GreptimeTeam/helm-charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: greptimedb-cluster, greptimedb-operator, greptimedb-standalone, greptimedb-enterprise-dashboard, greptimedb-remote-compaction

Update index.yaml
  index.yaml
Labels: none

chore: add imagePullSecrets to the monitoring standalone instance
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

update version
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
Labels: greptimedb-cluster

ci: update kubernetes version to v1.32.0 (#348)
  .github/workflows/ci.yaml
Labels: none

chore(greptimedb-cluster): add imagePullSecrets to the monitoring standalone instance (#346)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

fix: create kind cluster
  .github/workflows/ci.yaml
  .github/workflows/e2e.yaml
Labels: none

test create kind
  .github/workflows/ci.yaml
  .github/workflows/e2e.yaml
Labels: none

set node_image
  .github/workflows/ci.yaml
  .github/workflows/e2e.yaml
Labels: none

ready review
  .github/workflows/ci.yaml
Labels: none

fix: create kind cluster (#350)
  .github/workflows/ci.yaml
  .github/workflows/e2e.yaml
Labels: none

chore: bump greptimedb-operator version to v0.4.3
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/crds/crd-greptimedbcluster.yaml
  charts/greptimedb-operator/templates/crds/crd-greptimedbstandalone.yaml
Labels: greptimedb-cluster, greptimedb-operator

chore: bump greptimedb-operator version to v0.4.3 (#349)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/crds/crd-greptimedbcluster.yaml
  charts/greptimedb-operator/templates/crds/crd-greptimedbstandalone.yaml
Labels: greptimedb-cluster, greptimedb-operator

Update index.yaml
  index.yaml
Labels: none

fix: incorrect operator version
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator

fix: incorrect operator version (#351)
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator

Update index.yaml
  index.yaml
Labels: none

refactor: frontend internal port
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

refactor: frontend internal port (#352)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

feat: add license secret
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/templates/license-secret.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

feat(helm): publish Helm chart to Github OCI registry
  .github/workflows/release.yaml
Labels: none

feat(helm): add package permission
  .github/workflows/release.yaml
Labels: none

feat: add license secret
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/templates/license-secret.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

feat: add license secret (#353)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/templates/license-secret.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster

Update index.yaml
  index.yaml
Labels: none

chore: Update GreptimeDB version to v0.17.1
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

fix(github): clean OCI script
  .github/workflows/release.yaml
Labels: none

chore: Update GreptimeDB version to v0.17.1 (#357)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

chore(release): bump greptimedb-operator to v0.5.0
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/clusterrole.yaml
  charts/greptimedb-operator/templates/deployment.yaml
  charts/greptimedb-operator/templates/service.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator

feat: add trace configuration
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/templates/_helpers.tpl
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

feat: add trace configuration (#356)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/templates/_helpers.tpl
  charts/greptimedb-standalone/values.yaml
Labels: greptimedb-cluster, greptimedb-standalone

Update index.yaml
  index.yaml
Labels: none

chore(release): bump greptimedb-operator to v0.5.0
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/clusterrole.yaml
  charts/greptimedb-operator/templates/deployment.yaml
  charts/greptimedb-operator/templates/service.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

feat(helm): push chart to the OCI Registry (#354)
  .github/workflows/release.yaml
Labels: none

chore(release): bump greptimedb-operator to v0.5.0 (#355)
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/clusterrole.yaml
  charts/greptimedb-operator/templates/deployment.yaml
  charts/greptimedb-operator/templates/service.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator

Update index.yaml
  index.yaml
Labels: none

fix: incorrect operator tag
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator

refactor: push helm charts to dockerhub oci registry
  .github/workflows/release.yaml
Labels: none

.github/labeler.yaml:

greptimedb-cluster:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-cluster/**

greptimedb-operator:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-operator/**

greptimedb-standalone:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-standalone/**

greptimedb-enterprise-dashboard:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-enterprise-dashboard/**

greptimedb-remote-compaction:
  - changed-files:
      - any-glob-to-any-file: charts/greptimedb-remote-compaction/**
