Repository GreptimeTeam/helm-charts, pull requests merged in 2025-08, with the labels that each got.

#324 chore: Update GreptimeDB version to v0.15.5
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: size/S, greptimedb-cluster, greptimedb-standalone

#328 chore: bump greptimedb-operator version to v0.4.2
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/templates/crds/crd-greptimedbcluster.yaml
  charts/greptimedb-operator/templates/crds/crd-greptimedbstandalone.yaml
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-cluster, greptimedb-operator, size/L

#330 chore: add greptimedb-remote-compaction as dependency of greptimedb-cluster
  .github/workflows/release.yaml
  charts/greptimedb-cluster/Chart.lock
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  scripts/release/release-charts-to-acr.sh
  scripts/release/release-charts-to-s3.sh
Labels: greptimedb-cluster, size/L

#333 fix: `remoteCompaction` -> `greptimedb-remote-compaction` in `values.yaml`
  charts/greptimedb-cluster/Chart.lock
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster, size/L
