Repository GreptimeTeam/helm-charts, pull requests merged in 2025-09, with the labels that each got.

#343 chore: use greptime dockerhub image
  README.md
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/README.md.gotmpl
  scripts/e2e/greptimedb-cluster.sh
Labels: size/S, greptimedb-cluster

#347 chore: Update GreptimeDB version to v0.17.0
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/values.yaml
  charts/greptimedb-standalone/Chart.yaml
  charts/greptimedb-standalone/README.md
  charts/greptimedb-standalone/values.yaml
Labels: size/S, greptimedb-cluster, greptimedb-standalone

#348 ci: update kubernetes version to v1.32.0
  .github/workflows/ci.yaml
Labels: size/XS

#351 fix: incorrect operator version
  charts/greptimedb-operator/Chart.yaml
  charts/greptimedb-operator/README.md
  charts/greptimedb-operator/values.yaml
Labels: greptimedb-operator, size/XS

#352 refactor: frontend internal port
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/values.yaml
Labels: size/S, greptimedb-cluster

#353 feat: add license secret
  charts/greptimedb-cluster/Chart.yaml
  charts/greptimedb-cluster/README.md
  charts/greptimedb-cluster/templates/cluster.yaml
  charts/greptimedb-cluster/templates/license-secret.yaml
  charts/greptimedb-cluster/values.yaml
Labels: greptimedb-cluster, size/M
